  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  /* Start  Container */
  .container {
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
      /* position: relative; */
  }

  /*small*/
  @media (max-width: 767px) {
      .container {
          width: 100%;
      }

  }

  @media (min-width: 768px) {
      .container {
          width: 750px;
      }

  }

  /*Medium*/
  @media (min-width: 992px) {
      .container {
          width: 750px;
      }
  }

  /*Large*/
  @media (min-width: 1200px) {
      .container {
          width: 1170px;
      }
  }

  /* End  Container */

  /* Start Silder */
  /* Start Slider Container */
  .slider-container {
      margin: 10px auto;
      width: 800px;
      /* width: 100%; */
      /* height: 250px; */
      position: relative;
  }
  @media (max-width: 992px) {
    .slider-container {
        width: 100%;
    }
}
  .slider-container .img-number {
      position: absolute;
      left: 10px;
      top: 10px;
      background-color: rgba(0, 0, 0, .6);
      color: #FFF;
      padding: 5px 10px;
      font-size: 20px;
      z-index: 2;
      border-radius: 6px;
  }

  @media (max-width: 767px) {
    .slider-container .img-number {
      font-size: 10px;
    }
}
  .slider-container img {
      position: absolute;
      opacity: 0;
      transition: opacity 1s;
      z-index: 1;
      /* display: none; */
      /* width: 100%; */
      width: 800px;

  }
  @media (max-width: 992px) {
    .slider-container img {
        width: 100%;
    }
}

  .slider-container img.active {
      opacity: 1;
  }

  /* End Slider Container */
  /* Start Silder Controls */
  .slider-controls {
        /* width: 800px; */
    /* margin: auto; */
    /* overflow: hidden; */
    /* z-index: 1000; */
    /* position: relative; */
    /* width: 100%; */
    /* width: 800px; */
    width: 64%;
    margin: auto;
    overflow: hidden;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (min-width: 1200px) {
    .slider-controls {
        width: 53%;
    }
}
  @media (max-width: 991px) {
    .slider-controls {
        top: 73%;
    }
}
  @media (max-width: 767px) {
    .slider-controls {
        top: 73%;
    }
}
  @media (max-width: 557px) {
    .slider-controls {
        top: 50%;
    }
}
  @media (max-width: 370px) {
    .slider-controls {
        top: 40%;
    }
}


   .prev,
   .next {
      z-index: 1000;
      background-color: #009688;
      color: #FFF;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
      border-radius: 4px;
      padding: 5px;
      user-select: none;
      /* width: 20%; */
      /* width: 7%; */
  }

   .prev {
      float: left;
  }

 .next {
      float: right;
  }

  .prev.disabled,
  .next.disabled {
      background-color: rgba(0, 150, 136, 0.5);
      cursor: no-drop;
  }

  .slider-controls .signs {
      width: 60%;
      float: left;
  }

  .slider-controls .signs ul {
      list-style: none;
      margin: 0;
      text-align: center;
  }
  @media (max-width: 400px) {
    .slider-controls .signs ul {
        display: none;
    }
}

  .slider-controls .signs ul li {
      display: inline-block;
      background-color: #F6F6F6;
      color: #333;
      font-weight: bold;
      height: 28px;
      width: 28px;
      border-radius: 4px;
      margin: 0 2px;
      line-height: 28px;
      cursor: pointer;
  }

  .slider-controls .signs ul li.active {
      background-color: #009688;
      color: #FFF;
  }

  /* Start Silder Controls */
  /* End Silder */